streamlit
python-dotenv
langchain>=0.1.14
langchain-community
langchain-chroma
faiss-cpu               
sentence-transformers
transformers
huggingface_hub
tiktoken
torch
scikit-learn
matplotlib
pandas
beautifulsoup4
PyMuPDF
