streamlit
langchain>=0.1.14
langchain-community
chromadb
sentence-transformers
openai
huggingface_hub
tiktoken
python-dotenv
faiss-cpu
langchain-chroma
transformers
torch
scikit-learn
matplotlib
pandas
beautifulsoup4
PyMuPDF
datasets
