streamlit>=1.25.0
python-dotenv
langchain>=0.1.14
langchain-community
langchain-chroma
faiss-cpu               
sentence-transformers
transformers>=4.40.0
tokenizers>=0.15.2
sentencepiece>=0.1.99
safetensors>=0.4.2
accelerate>=0.30.0
huggingface_hub
tiktoken
torch
scikit-learn
matplotlib
pandas
beautifulsoup4
PyMuPDF
numpy
